@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap%27");

@font-face {
  font-family: "Enedis";
  src: url("assets/fonts/Enedis-Light.woff2") format("woff2"),
    url("assets/fonts/Enedis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Enedis";
  src: url("assets/fonts/Enedis-Regular.woff2") format("woff2"),
    url("assets/fonts/Enedis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Enedis";
  src: url("assets/fonts/Enedis-Medium.woff2") format("woff2"),
    url("assets/fonts/Enedis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Enedis";
  src: url("assets/fonts/Enedis-Bold.woff2") format("woff2"),
    url("assets/fonts/Enedis-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Enedis";
  src: url("assets/fonts/Enedis-Black.woff2") format("woff2"),
    url("assets/fonts/Enedis-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

h1,
h2,
h3,
ul {
  font-family: "Enedis";
  font-weight: bold;
}

span,
input,
label {
  font-family: "Enedis";
  font-weight: light;
}

button,
p {
  font-family: "Public Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  height: 200px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
